// jot-myself.scss

/****** SET VARIABLES ******/

// Modify colors
$theme-colors: ("accent": #FFE02C);

/****** IMPORT BOOTSTRAP ******/
//  Import bootstrap (after modifying colors)
@import "../bootstrap/scss/bootstrap";


/****** MODIFY THE ENTIRE DOCUMENT ******/
body {
    margin: 2rem;
}

//h1 { font-size: calc(0.6em + 3.2vw); }
h1 {
    font-size: min(.6em + 3.2vw, 48px);
}

h2 {
    font-size: min(0.5em + 2.8vw, 42px);
}

h3 {
    font-size: min(0.4em + 2.4vw, 36px);
    font-weight: 300;
}

h4 {
    font-size: min(0.35em + 2.0vw, 30px);
    font-weight: 300;
}

.bubble-title {
    font-size: min(0.6em + 1.0vw, 28px);
}


/****** PARAGRAPH UTILITIES ******/
// Make icons from FontAwesome symbols
.icon-container {
    position: relative;
    max-width: 180px;

    img {
        display: block;
    }

    .fas {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

.img-bubble {
    max-width: min(100%, 200px);
    height: auto;
    display: block;
}


// Make a circle with a colored background
.numberCircle {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid;
    font-size: 16px;

    &:before,
    &:after {
        content: '\200B';
        display: inline-block;
        line-height: 0px;
        padding-top: 50%;
        padding-bottom: 50%;
    }

    &:before {
        padding-left: 8px;
    }

    &:after {
        padding-right: 8px;
    }
}

// Make a thought bubble background
.bubble-text {
    position: absolute;
    top: 27%;
    width: 75%;
}

// Download button
.download-button {
    max-width: 200px;
    width: calc(5em + 15vw);
}

// Add a jot-myself icon before the text
.jot-text {
    background: url("../images/jot-myself-gray-icon.svg") no-repeat left center;
    background-size: 28px 28px;
    padding: 5px 10px 5px 45px;
    margin: 0;
    vertical-align: middle;
    font-style: italic;
}

// Add a calendar icon before the text
.event-text {
    background: url("../images/calendar-solid.svg") no-repeat left center;
    background-size: 28px 28px;
    padding: 5px 12px 5px 45px;
    margin: 0;
    vertical-align: middle;
}

.bubble-text {
    font-size: 12px;
    font-weight: 300;
}

/******  RESPONSIVE PARAGRAPH STYLES ******/
@media screen and (max-width: 767.98px) {
    .bubble-text {
        font-size: calc(0.4em + 2.0vw);
    }
}

@media screen and (min-width: 768px) {
    .bubble-text {
        font-size: calc(0.35em + 1.2vw);
    }
}


@media screen and (max-width: 298.98px) {
    .glyphicon {
        font-size: 2em;
    }

    .hero-img {
        max-width: 200px;
    }
}

@media screen and (min-width: 300px) and (max-width: 575.98px) {
    .glyphicon {
        font-size: 3em;
    }

    .bubble-text {
        font-size: 15px;
    }

    .hero-img {
        max-width: 200px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
    .glyphicon {
        font-size: 5em;
    }

    .hero-img {
        max-width: 200px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .glyphicon {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .glyphicon {
        font-size: 3em;
    }
}

@media screen and (min-width: 1200px) {
    .glyphicon {
        font-size: 4em;
    }
}

/******  MENUBAR ******/
.logo {
    width: 32px
}

.nav-pills .nav-item {
    width: 150px
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 224, 44)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.navbar {
    .nav-link {
        color: #FFE02C;

        &:hover {
            color: white;
        }
    }
}

/******  CAROUSEL ******/
#carouselWatch .carousel-item p {
    max-width: 400px;
}

#carouselPhone .carousel-item p {
    max-width: 250px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='gray' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%gray' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/******  PRIVACY PAGE ******/
#privacy {
    line-height: 1.5;

    li.menu-item:not(:last-child) {
        margin-bottom: 10px;
    }
}
